[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci

# 起動時に出力されるエラー対応
explicit_defaults_for_timestamp = true
ssl = false

# TimeZone
default-time-zone='Asia/Tokyo'

[mysql]
# クライアントからのアクセス時の文字コードを utf8 に指定
default-character-set = utf8

[client]
default-character-set = utf8 
